body {
  margin: 0;
  font-family: 'Google Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 50px
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#practice-container {
  padding-top: 25px;
  padding-bottom: 75px;
}

#confirm-form {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

#thanks-modal {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

#thanks-check {
  padding-bottom: 5px;
}

.text-lightgrey {
  color: #c2c2c2;
}

.text-thanks-action {
  font-size: 14px;
}

.footer {
  background: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 15px;
}
